@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary;
}

.rounded-div {
  @apply bg-primary px-2 max-w-[1140px] w-full mx-auto;
}
.rounded-nav {
  @apply fixed z-20 w-full px-2 mx-auto bg-primary;
}
.rounded-card {
  @apply bg-secondary pl-4 pr-8 max-w-[1140px] w-full mx-auto rounded-2xl;
}
.rounded-tab {
  @apply px-8 mx-auto bg-secondary rounded-2xl;
}

/* .rounded-card {
  background-color: var(--color-bg-secondary);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-left: 1rem;
  padding-right: 2rem;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
} */


/* 
.rounded-div {
  @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1140px] w-full mx-auto
} */

.dark {
  --color-bg-primary: #111827;
  --color-bg-secondary: #283141;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --color-bg-input: #4a5361;
  --color-bg-button: #81e6d9;
  --color-bg-grey: #f4f4f4;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #00c0f0;
  --box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.homeImageDark {
  background-image: linear-gradient(to bottom, rgba(64, 15, 80, 0), #111827e5),
    url("./images/h4.jpg");
  /* background-image:  url('./images/h4.jpg'); */

  width: 100%;
  /* margin-top: 80px; */
  height: 100vh;
  background-size: cover;
}

.homeImageLight {
  background-image: linear-gradient(to bottom, rgba(64, 15, 80, 0), #ffffff30),
    url("./images/h4.jpg");
  /* background-image:  url('./images/h4.jpg'); */

  width: 100%;
  /* margin-top: 80px; */
  height: 100vh;
  background-size: cover;
}

/* .backImageDark{
  background-image: url('./images/meta2.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
} */
/* 
.backImageLight{
  background-image:linear-gradient(to bottom, rgba(64, 15, 80, 0), #ffffff30), url('./images/meta3.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
} */

.textLinear {
  background: linear-gradient(to right, #f321b4, #ff6b08, #cf23cf, #eedd44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bitsMain {
  background: linear-gradient(to right, #00c0f0, #0d93e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
